<div layout="column" layout-padding class="user-verification" ng-controller="UserVerificationController as vm">


  <p layout="row" layout-align="center center" layout-padding class="info-banner">
    In the future, this page will verify your personal details using government issued ID.</p>


    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Full Name</label>
        <input ng-model="vm.user.name">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Postal Code</label>
        <input name="postalCode" ng-model="vm.user.postalCode" placeholder="ie. 4000"
                 required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
      </md-input-container>
    </div>
    <md-button ng-click="vm.save()" class="md-raised md-primary">Submit</md-button>

</div>
